.fa{
  text-align: center;
  text-decoration: none;
  color:white;
  cursor: pointer;
  padding: 4%;
  font-size: 200%;
  background-image: linear-gradient(#cdd0d6, #6d7582)
}

.fa:hover {
    opacity: 0.7;
}

#connections {
  align-content: center;
  text-align: center; 
}
