#brand{
	margin-left: 5%;
	display: inline-block;
}

#test li {
	background-color: red;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
	display: inline-block;
	align-content: center;
	float: right;
}

#skills ul{}

#test{
	margin-right:5%;
	display: inline-block;
	float: right;
}

nav {
	display: block;
	width: 100%;
	background-color: pink;

}