.expRec{
	display: block;
	margin-bottom: 2%;
	width: 90%;
	margin-left: 5%;
}

.jobDetails{
	display: inline-block;
	background-color: green;
	padding:0.5%;
}

.jobDetails aside{
	margin-right: 1%;
	float:left;
	display: inline-block;
}


.thumbnail{
	max-height: 150px;
	max-width: 150px;
}

.jobHeader span{
	font-size: 12px;
}



