.job{
/*	background-color: green;
*/	margin-bottom: 2%;
}

.thumbnail{
	width: 20%;
	padding-bottom: 20%;
	display: inline-block;
	background-position:center center;
    background-repeat:no-repeat;
    background-size:contain;
    vertical-align: center;
}

.words{
	width: 75%;
	display: inline-block;
	vertical-align: top;
}
