.square {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
    margin:1.5%;
    overflow:hidden;
    color: white;
    display: inline-flex;
    background-color: #eaf1fc;
    background-image: linear-gradient(#eaf1fc, #d7e3f7)
}

/*HoverOff div settings*/

.hoverOff{
    background-position:center center;
    background-repeat:no-repeat;
    background-size:contain;
}

.hoverOff h4{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;


}
/*End of HoverOff div settings*/

/*HoverOn div settings*/

.top{
    text-align: center;
    width: 80%;
    margin-left: 10%;
}
.top h4{
    margin-top: 15%;
}

.buttons a, /*.buttons button*/{
    display: block;
    width:100%;
}

.buttons{
    position: absolute;
    bottom: 0;
    align-content: center;
    width: 100%;
}

.buttons button{
    background-color: #eaf1fc;
    background-image: linear-gradient(#eaf1fc, #d7e3f7);
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    font-size: 16px;
}

.buttons button:hover{
    background-color: #008CBA;
    color: white;
    background-image: linear-gradient(#d7e3f7, #008CBA);
}
/*End of HoverOn div Settings*/


.hoverOff, .hoverOn {
    position:absolute;
    width: 90%;
    height:90%;
    margin: 5% 5% 0% 5%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
}


.hoverOn{
    display: none;
    text-shadow: 2px 2px 4px #000000;
}

.hoverOff{
    display: block;
    text-shadow: 2px 2px 4px #000000;
}

.square:hover .hoverOn{
    display: block;
}

.square:hover .hoverOff{
    display: none;
}