.square {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
    margin:1.5%;
    background-color:#1E1E1E;
    overflow:hidden;
    color: white;
}

/*HoverOff div settings*/

.hoverOff{
    background-position:center center;
    background-repeat:no-repeat;
    background-size:contain; /* you change this to "contain" if you don't want the images to be cropped */
}

.hoverOff header{
    text-align: center;
    margin-top: 45%;
}
/*End of HoverOff div settings*/

/*HoverOn div settings*/

.top{
    text-align: center;
    width: 80%;
    margin-left: 10%;
}
.top h4{
    margin-top: 20%;
}

a, button{
    display: block;
    width:100%;
    margin-bottom: 10%;
}

button{
    line-height: 250%;
    font-size: 20px;
}

.buttons{
    position: absolute;
    bottom: 0;
    align-content: center;
    width: 80%;
    margin-left: 10%;
    height: 50%;
}
/*End of HoverOn div Settings*/


.hoverOff, .hoverOn {
    position:absolute;
    background-color: green;
    width: 90%;
    height:90%;
    margin: 5% 5% 0% 5%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
}





.hoverOn{
    display: none;
}

.hoverOff{
    display: block;
}

.square:hover .hoverOn{
    display: block;
}

.square:hover .hoverOff{
    display: none;
}