.square {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
    margin:1.5%;
/*    background-color:#1E1E1E;
*/    overflow:hidden;
    color: cyan;
    display: inline-flex;
}

/*HoverOff div settings*/

.hoverOff{
    background-position:center center;
    background-repeat:no-repeat;
    background-size:contain;
/*    background-color: pink;
*/
}

.hoverOff h3{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;


}
/*End of HoverOff div settings*/

/*HoverOn div settings*/

.top{
    text-align: center;
    width: 80%;
    margin-left: 10%;
}
.top h4{
    margin-top: 15%;
}

a, button{
    display: block;
    width:100%;
    margin-bottom: 10%;
}

/*button{
    line-height: 250%;
}
*/
.buttons{
    position: absolute;
    bottom: 0;
    align-content: center;
    width: 100%;
/*    margin-left: 10%;
    height: 50%;*/
}
/*End of HoverOn div Settings*/


.hoverOff, .hoverOn {
    position:absolute;
/*    background-color: green;
*/    width: 90%;
    height:90%;
    margin: 5% 5% 0% 5%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
}





.hoverOn{
    display: none;
}

.hoverOff{
    display: block;
}

.square:hover .hoverOn{
    display: block;
}

.square:hover .hoverOff{
    display: none;
}