main {
	background-color: blue;
	overflow: auto;
	display: block;
	float: right;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

#about header{
	text-align: left;
	width: 100%;
	display: block;
	background-color: pink;
}

#about{
	display: flex;
	padding: 0.5%;
}

#headshot{
	display: inline-block;
	margin-right: 0.5%;
	max-width: 10%;
	max-height: 10%;
	padding:10%;
	background-position:center center;
    background-repeat:no-repeat;
    background-size:contain;
    background-image: url(../images/Headshot.png);
}

#bioBox p{
	display: inline-block;
	width: 79.5%;
	float: right;
}



#experience{
	padding-top: 1%;
	padding-bottom: 1%;

}

#bioBox{
	display: block;
	float: right;
	width: 100%;
	padding: 0% 0.5% 0.5% 0.5%;
}

#eSkills {
	padding: 2%;
}

.yellow {
	background-color: yellow;
	border-color: red;
	border-style: solid;
	margin-left: 2.5%;
	margin-right: 2.5%;
}

#experience header{
	text-align: center;
}

#portfolio h2{
	display: block;
	background-color: pink;
	width: 100%;
}

#portfolio{
	margin-top: 10%;
	margin-bottom: 10%;
	display: flex;
}

#portfolio header{
	width: 100%;
	display: block;
}


