h2 {
	width: 24%;
	display: inline-block;
	align-content: center;
}
header{
	text-align: center;
}

#contentHolder{
	float: left;
	width: 75%;
	margin-left: 5%;
	margin-right: 5%;
}


#psuedoC {
	background-color: blue;
	overflow: auto;
}

nav {
	left: 50%;
}

button {
	width:2%;
	display: inline-block;
}



